{{! Sheet Header }}
<header class='sheet-header'>
  <div class='actor-header-first grid grid-5col'>
    
    <div class='actor-name grid-span-4'>
      <input
        type='text'
        name='name'
        class='actor-name-input'
        value='{{actor.name}}'
        data-dtype='String'
        placeholder='Name'
        {{#unless editable}}disabled{{/unless}}
      />
    </div>

    <div class='actor-level grid-span-1 align-center'>
      <label for='system-level'>Lvl:</label>
      <input
        type='text'
        name='system.level.value'
        class='actor-level-input'
        id='system-level'
        value='{{system.level.value}}'
        data-dtype='Number'
        placeholder='Level'
        {{#unless editable}}disabled{{/unless}}
      />
    </div>

  </div>
</header>